<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Book</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
</head>
<body>

	<div class="container text-center mb-3">
		<h1>Add Book</h1>
	</div>
			
	<div class="container mb-3 justify-content-md-center">
		<form th:object="${book}" th:action="@{save}" action="#" method="post">
			<div class="mb-3">
		  	    <label class="form-label" for="title">Book title</label>
				<input type="text" class="form-control" id="title" th:field="*{title}" />
			</div>
			<!-- <div style="clear: both; display: block; height: 10px;"></div> -->
			<div class="mb-3">
		  	    <label class="form-label" for="author">Book author</label>
				<input type="text" class="form-control" id="author" th:field="*{author}" />
			</div>
			<!-- <div style="clear: both; display: block; height: 10px;"></div> -->
			<div class="mb-3">
		  	    <label class="col-sm-2 col-form-label" for="isbn">ISBN</label>
				<input type="text" class="form-control" id="isbn" th:field="*{isbn}" />
			</div>
			<!-- <div style="clear: both; display: block; height: 10px;"></div> -->
			<div class="mb-3">
                <label class="col-sm-2 col-form-label" for="publicationYear">Published year</label>
				<input type="text" class="form-control" id="publicationYear" th:field="*{publicationYear}" />
			</div>
			<!-- <div style="clear: both; display: block; height: 10px;"></div> -->
			<div class="mb-3">
                <label class="col-sm-2 col-form-label" for="price">Price</label>
				<input type="text" class="form-control" id="price" th:field="*{price}" />
			</div>
			<!-- <div style="clear: both; display: block; height: 10px;"></div> -->
			<input class="btn btn-success" type="submit" value="Save"></input>
		</form>
	</div>

	<div class="container text-center mt-3">
		<a class="btn btn-success" href="/index">Main Page</a>
	</div>
		
</body>
</html>