<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Book</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
</head>
<body>
		<h1>Add Book</h1>
			
	<div class="row mb-3 mx-auto">
		<form th:object="${book}" th:action="@{save}" action="#" method="post">
		  	<label class="col-sm-2 col-form-label" for="title">Book title</label>
			<div class="col-sm-6">
				<input type="text" class="form-control" id="title" th:field="*{title}" />
			</div>
			<div style="clear: both; display: block; height: 10px;"></div>
		  	<label class="col-sm-2 col-form-label" for="author">Book author</label>
			<div class="col-sm-6">
				<input type="text" class="form-control" id="author" th:field="*{author}" />
			</div>
			<div style="clear: both; display: block; height: 10px;"></div>
		  	<label class="col-sm-2 col-form-label" for="isbn">ISBN</label>
			<div class="col-sm-6">
				<input type="text" class="form-control" id="isbn" th:field="*{isbn}" />
			</div>
			<div style="clear: both; display: block; height: 10px;"></div>
            <label class="col-sm-2 col-form-label" for="publicationYear">Published year</label>
            <div class="col-sm-6">
				<input type="text" class="form-control" id="publicationYear" th:field="*{publicationYear}" />
			</div>
			<div style="clear: both; display: block; height: 10px;"></div>
            <label class="col-sm-2 col-form-label" for="price">Price</label>
            <div class="col-sm-6">
				<input type="text" class="form-control" id="price" th:field="*{price}" />
			</div>
			<div style="clear: both; display: block; height: 10px;"></div>
			<input class="btn btn-success" type="submit" value="Save"></input>
		</form>
	</div>
	<div class="row mb-3 mx-auto">
		<p><a class="btn btn-success" href="/index">Main Page</a></p>
	</div>
</body>
</html>