<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">
<head>
<title>JN Bookstore</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
</head>
<body>
<div class="container text-center justify-content-sm-center w-75 p-3">
    
        <div class="col-sm-12 mb-5">
            <h1>My Bookstore</h1>
            <h3>Welcome to My Bookstore</h3>
        </div>

        <!-- <div class="col-sm-12 mb-3">
            <a class="btn btn-success" href="/add">Add Book</a>
        </div>
        <div class="col-sm-12 mb-3">
            <a class="btn btn-success" href="/booklist">List of Books</a>
        </div> -->

        <div class="d-grid gap-2 col-6 mx-auto">
            <a class="btn btn-primary" href="/add">Add Book</a>
            <a class="btn btn-primary" href="/booklist">List of Books</a>
        </div>
    
</div>
</body>
</html>