<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">
<head>
<title>JN Bookstore</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
</head>
<body>
<div class="mx-auto" style="width: 400px;">
    <h1>My Bookstore</h1>

    <div class="d-grip gap-2">
        <p><a class="btn btn-success" href="/add">Add Book</a></p>
        <p><a class="btn btn-success" href="/booklist">List of Books</a></p>
    </div>
</div>
</body>
</html>